USE [master]
GO
/****** Object:  Database [Risovaviti]    Script Date: 22.06.2024 8:12:08 ******/
CREATE DATABASE [Risovaviti]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Risovaviti', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Risovaviti.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Risovaviti_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Risovaviti_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Risovaviti].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Risovaviti]
GO
/****** Object:  Table [dbo].[Canvas]    Script Date: 22.06.2024 8:12:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Canvas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [varbinary](max) NOT NULL,
	[IdStatus] [int] NOT NULL,
	[IdAuthor] [int] NOT NULL,
 CONSTRAINT [PK_Canvas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InteractiveCanvas]    Script Date: 22.06.2024 8:12:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InteractiveCanvas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ConnectionString] [nvarchar](250) NOT NULL,
	[IdStatus] [int] NOT NULL,
	[Author] [int] NOT NULL,
 CONSTRAINT [PK_InteractiveCanvas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 22.06.2024 8:12:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 22.06.2024 8:12:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 22.06.2024 8:12:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[IdRole] [int] NOT NULL,
	[Icon] [varbinary](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[InteractiveCanvas] ON 

INSERT [dbo].[InteractiveCanvas] ([Id], [Name], [Description], [ConnectionString], [IdStatus], [Author]) VALUES (1, N'Canvas1', N'Крутой холст для создания рисунков', N'uefwhqfo2379rhuaifew', 1, 1)
INSERT [dbo].[InteractiveCanvas] ([Id], [Name], [Description], [ConnectionString], [IdStatus], [Author]) VALUES (2, N'Canvas2', NULL, N'09qrh2983hrpq', 1, 1)
INSERT [dbo].[InteractiveCanvas] ([Id], [Name], [Description], [ConnectionString], [IdStatus], [Author]) VALUES (3, N'Canvas3', NULL, N'39h498qiupehrg', 2, 2)
SET IDENTITY_INSERT [dbo].[InteractiveCanvas] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (2, N'Автор')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Id], [Name]) VALUES (1, N'Публичный')
INSERT [dbo].[Status] ([Id], [Name]) VALUES (2, N'Скрытый')
INSERT [dbo].[Status] ([Id], [Name]) VALUES (3, N'Ссылка')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Name], [Email], [Login], [Password], [IdRole], [Icon]) VALUES (1, N'User', N'user@gmail.com', N'user', N'password', 1, NULL)
INSERT [dbo].[User] ([Id], [Name], [Email], [Login], [Password], [IdRole], [Icon]) VALUES (2, N'User2', N'user2@gmail.com', N'user2', N'password2', 1, NULL)
INSERT [dbo].[User] ([Id], [Name], [Email], [Login], [Password], [IdRole], [Icon]) VALUES (3, N'Author', N'author@gmail.com', N'author', N'password3', 2, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Canvas]  WITH CHECK ADD  CONSTRAINT [FK_Canvas_Status] FOREIGN KEY([IdStatus])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[Canvas] CHECK CONSTRAINT [FK_Canvas_Status]
GO
ALTER TABLE [dbo].[Canvas]  WITH CHECK ADD  CONSTRAINT [FK_Canvas_User] FOREIGN KEY([IdAuthor])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Canvas] CHECK CONSTRAINT [FK_Canvas_User]
GO
ALTER TABLE [dbo].[InteractiveCanvas]  WITH CHECK ADD  CONSTRAINT [FK_InteractiveCanvas_Status] FOREIGN KEY([IdStatus])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[InteractiveCanvas] CHECK CONSTRAINT [FK_InteractiveCanvas_Status]
GO
ALTER TABLE [dbo].[InteractiveCanvas]  WITH CHECK ADD  CONSTRAINT [FK_InteractiveCanvas_User] FOREIGN KEY([Author])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[InteractiveCanvas] CHECK CONSTRAINT [FK_InteractiveCanvas_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
